.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.post-card,
.profile-card {
  width: 300px;
  margin-bottom: 20px;
}

.example-header-image {
  background-image: url("https://images.unsplash.com/photo-1438761681033-6461ffad8d80?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;

}

.container-1{
    width: 400px;
  height: 300px;
    padding: 150px;
    
}

   

.container-3{
    width: 300px;
  height: 200px;
    padding: 60px;
}

.main-container{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}

.container-post{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.custom-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
  }
  
  .content {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
  .content p {
    margin-bottom: 10px;
  }
  mat-card-actions{
    gap: 20px;
  }